.App {
  max-width: 1024px;
  max-height: 1366px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  .left-section {
    width: calc(70% - 40px);
    margin: 0 20px 0 20px;
  }

  .right-section {
    width: calc(30% - 40px);
    margin: 0 20px 0 20px;
  }
}