.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 700;

    &>div {
        margin-left: auto;
        margin-right: auto;
    }
}